header { 
        background-color:#59909d;  
        position: sticky;
        display:flex;
        justify-content: center;
        max-width: 767px;
        height: 60px;
    }  
    
    h1 {
    font-family: 'Cinzel', serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    margin: 17px;
    }