p {
    font-family: 
    color: white;
    font-size:23px;
    max-width: 767px;
    height: 60px;
    align-items: center;
    margin: 10px;
  

}  
  

.questioncard {

    grid-template-columns:auto;
    background-color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 767px;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 15px;
    justify-content: center;
    text-align: center;
    padding: 10%;
    margin: 5%
    
  }

  .answercard

  {
    grid-template-columns:auto;
    background-color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 767px;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 15px;
    justify-content: center;
    text-align: center;
    padding: 10%;
    margin: 5%; 
  }

  .answerstyle

  {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:rgb(219, 232, 81)
  }

  .buttonshow {
 
        background-color: #882e69;
        border: none;
        color: rgb(255, 255, 255);
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 15px;
        margin: 2px;
        cursor: pointer;
        transition: background 1s, border-radius 0.5s, transform 0.75s;
  }

.buttonshow:hover {
  background: rgb(91, 169, 150);
  transform: rotate(360deg); 

}



.buttonhide
{

    background-color:#882e69;65515e
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 15px;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    transition: background 1s, border-radius 0.5s, transform 0.75s;
 
  }

  .buttonhide:hover {
    background: rgb(91, 169, 150);
    transform: rotate(360deg); 
 
  }

  
 
  
 
 
 