.cards__container {
  margin: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.questioncard {
  background-color: rgb(101, 100, 107);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 3rem;
  border-radius: 20px;
  box-shadow: rgba(37, 20, 20, 0.7) 0px 5px 15px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 23px;
  width: 90%;
  text-align: center;
}

.answerstyle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(152, 143, 163);
}

.answer__button {
  border-radius: 4px;
  background-color: #55595f;
  border: none;
  color: #f1f1f1;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

.answer__button:hover {
  background: rgb(91, 169, 150);
}
